article>* {
  min-width: 0;
}

article>p,
ul,
ol {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  letter-spacing: .01rem;
  line-height: 1.58;
  color: rgba(0, 0, 0, .84);
  text-rendering: optimizeLegibility;
}

article>.aside {
  margin: 30px 20px;
  color: #666;
  font-size: 0.8em;
}

p>img {
  max-width: 100%;
}

@media (max-width: 768px) {
  img {
    width: auto;
    /* Set width to auto when the screen width is less than or equal to 768px */
  }
}

a>img {
  max-width: 90%;
}

img+em {
  display: block;
  text-align: center;
}

.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

code {
  background: #eee;
  padding: 2px 5px;
}

pre {
  background: #eee;
  padding: 10px 15px;
  overflow: auto;
}

pre>code {
  padding: 0;
}

figure {
  margin: 0;
}

figure figcaption {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}

header .title {
  font-size: 1.5em;
}

.quanface {
  display: block;
  border-radius: 75px;
  margin: 5px auto;
}

header .navi ul {
  padding: 0;
}

header .navi ul li {
  display: inline;
  margin: 0;
  padding: 0 0.4em;
}

footer .elsewhere ul {
  padding: 0;
}

footer .elsewhere ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

footer .navi ul {
  padding: 0;
}

footer .navi ul li {
  display: inline;
  margin: 0;
  padding: 0 0.4em;
}